# Copyright 2024, The Khronos Group Inc.
#
# SPDX-License-Identifier: Apache-2.0

Rylie Pavlik <rylie.pavlik@collabora.com>
Rylie Pavlik <rylie.pavlik@collabora.com> <ryan.pavlik@collabora.com>

Jon Leech <devrel@oddhack.org>
Jon Leech <devrel@oddhack.org> <4693344+oddhack@users.noreply.github.com>
